*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

.gen{
    height: 800px;
    width: 100%;
    /* border: 2px solid tomato; */
    padding-top: 10px;
    background: rgb(245, 245, 245);
    margin-bottom: 200px;
    /* background: linear-gradient(to right, rgba(99,99,99,0.4),rgba(99,99,98,0.4)),url('./image/christmasBack.jpg'); */
    
}
.imgCOn{
    display: flex;
    /* height: 30px; */
    justify-content: center;
    /* border: 2px solid rgb(33, 119, 52); */
    margin-bottom: 10px;

}
.rice{
    /* border: 2px solid red; */
    height: 120px;
    width: 120px;
    margin-right: 10px;
    border-radius: 20px;
}
.imgScale{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.logoCon{
    /* border: 2px solid rgb(33, 119, 52); */
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.logo{
/* border: 2px solid tomato; */
height: 40px;
width: 40px;
margin-right: 10px;
}
.logoCon P{
    font-size: 22px;
    font-weight: bold;
}
.cinese{
    text-align: center;
    margin-top: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* .dotgen{
    display: flex;
    align-items: center;
    height: 30px;
    
}

.dot{
    font-size: 50px;
    margin-left: 10px;
    color: red;
}
.chineseRice{
    font-size: 20px;
    padding: 0;
} */

.dotGen{
    /* border: 2px solid green; */
    margin-top: 0;
    margin-bottom: 10px;
}
.dotimg{
    height: 10px;
    width: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
.chi{
    margin-left:35px ;
}
.chineseRice{
    font-size: 12px;
}
.servedOn{
    text-align: center;
    font-size: 20px;
}
.pricecon{
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}
.amount{
    color: red;
}
.phoneIcon{
    height: 20px;
    width: 20px;
}
.phonecon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prices{
    margin-top: 10px;
    font-size: 20px;
}
.thirdcon{
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-evenly;
}
.foodimg{
    /* border: 2px solid rgb(71, 255, 141); */
    height: 120px;
    width: 120px;

}
.bigBox{
    /* border: 2px solid blue; */
    /* height: 300px; */
    display: flex;
    margin-top: 30px;
}
.first{
    /* border: 2px solid rgb(0, 255, 149); */
    width: 48%;
    
}
.sec{
    /* border: 2px solid rgb(255, 0, 0); */
    width: 2%;
    background: red;
}
.third{
    /* border: 2px solid rgb(255, 0, 191); */
    width: 48%;

}
.mini{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.roundMark{
    border: 2px solid rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    /* margin-right: 10px; */
}
.check{
    color: white;
}
.markCon{
    display: flex;
    margin-bottom: 3px;
    margin-left: 10px;
    /* font-size: 13px; */
    /* border: 2px solid rgb(0, 183, 255); */
    /* height: 80px; */

}
.jollof{
    font-size: 13px;
}
